<h2>Bambinos FC Season Standing</h2>

<div id="bambinos_fc">

</div>

<% content_for :footer do %>
  <script type="text/javascript" charset="utf-8">
    var matchesByDate = <%== @matches_by_date.to_json %>
    var teamPointsByMatchday = <%== @team_points_by_matchday.to_json %>
  </script>
<% end %>
